In [1]:
# Importar pandas antes de google.cloud.bigquery
import pandas as pd
from google.cloud import bigquery
import db_dtypes


# Crear el cliente de BigQuery
client = bigquery.Client()

In [2]:

# Definir la consulta SQL para cada dataset
query_metadata_google = """
SELECT gmap_id, name, address, description, latitude, longitude, category, num_of_reviews
FROM `canvas-sum-435121-c0.dataset_procesado.Metadata_Google_new`
"""

# Ejecutar las consultas y cargar los resultados en DataFrames de pandas
metadata_google = client.query(query_metadata_google).to_dataframe()

# Mostrar las primeras filas de cada DataFrame para verificar la carga de datos
print(metadata_google.head())

                                gmap_id         name  \
0  0X80C063E4Eba4487F0X2F895B50Bd80Adc8          Atm
1  0X80C063E4Eba4487F0X2F895B50Bd80Adc8          Atm
2  0X809Ac89E1021C28B0X6308C952B7A00869  Us Bank Atm
3  0X809Ac89E1021C28B0X6308C952B7A00869  Us Bank Atm
4  0X80Dca5F89F63B87F0X890Bbb982D6B6Fdd     Coinstar

                           address description   latitude   longitude  \
0   Atm 601 Us395 Olancha Ca 93549    Sin Dato  36.274027 -118.002776
1   Atm 601 Us395 Olancha Ca 93549    Sin Dato  36.274027 -118.002776
2   Us Bank Atm Elk Grove Ca 95758    Sin Dato  38.424089 -121.446425
3   Us Bank Atm Elk Grove Ca 95758    Sin Dato  38.424089 -121.446425
4  Coinstar Moreno Valley Ca 92553    Sin Dato  33.933977 -117.275078

  category  num_of_reviews
0      Atm               3
1      Atm               3
2      Atm               1
3      Atm               1
4      Atm               1

In [3]:
metadata_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119362 entries, 0 to 119361
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   gmap_id         119362 non-null  object
 1   name            119362 non-null  object
 2   address         119362 non-null  object
 3   description     119362 non-null  object
 4   latitude        119362 non-null  float64
 5   longitude       119362 non-null  float64
 6   category        119362 non-null  object
 7   num_of_reviews  119362 non-null  Int64
dtypes: Int64(1), float64(2), object(5)
memory usage: 7.4+ MB

In [4]:
# Definir la consulta SQL para cada dataset
query_reviews_google = """
SELECT name, rating, text, resp, gmap_id
FROM `canvas-sum-435121-c0.dataset_procesado.Reviews_Google_new`
"""

# Ejecutar las consultas y cargar los resultados en DataFrames de pandas
reviews_google = client.query(query_reviews_google).to_dataframe()

# Mostrar las primeras filas de cada DataFrame para verificar la carga de datos
print(reviews_google.head())

               name  rating  \
0     Devon Meadows       1
1           Jacob S       1
2  Peter Villanueva       1
3        Aaran Pate       1
4           Miss Me       1

                                                text  \
0  Made An Appointment Came In Waited 45 Minutes ...
1  Dirty Is Not A Word When You Think Panera But ...
2                                          Foods Yuk
3  The Value You Get For Your Money Is Not There ...
4  The Car Wash Never Ever Ever Ever Ever Ever Wo...

                                                resp  \
0  Time 1523369295978 Text Devon  Thank You For T...
1                                           Sin Dato
2                                           Sin Dato
3                                           Sin Dato
4                                           Sin Dato

                              gmap_id
0  0X808F80B3Deb69Da70Xcd53Ffd65E7B1C
1  0X808F914094Fdfb0D0Xee9364D8Ccb35C
2  0X808F914094Fdfb0D0Xee9364D8Ccb35C
3  0X808F914094Fdfb0D0Xee9364D8Ccb35C
4  0X809Ad6Fb594336Ed0X97B8D459450E51

In [5]:
reviews_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624758 entries, 0 to 2624757
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   name     object
 1   rating   Int64
 2   text     object
 3   resp     object
 4   gmap_id  object
dtypes: Int64(1), object(4)
memory usage: 102.6+ MB

In [6]:
#cambiar nombre de name a name_user
reviews_google.rename(columns={'name': 'name_user'}, inplace=True)

In [7]:
query_yelp_reviews = """
SELECT business_id, name, Address, city, state, postal_code, latitude, longitude, stars_x, review_count, categories, review_id, stars_y, useful, funny, cool, text
FROM `canvas-sum-435121-c0.dataset_procesado.Yelp_Reviews_California_new`
"""
yelp_reviews = client.query(query_yelp_reviews).to_dataframe()

print(yelp_reviews.head())

             business_id      name   Address  city state  postal_code  \
0  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
1  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
2  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
3  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
4  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0

   latitude   longitude  stars_x  review_count  \
0  39.51529 -119.812013      4.0            51
1  39.51529 -119.812013      4.0            51
2  39.51529 -119.812013      4.0            51
3  39.51529 -119.812013      4.0            51
4  39.51529 -119.812013      4.0            51

                                 categories               review_id  stars_y  \
0  Restaurants Food Trucks Food Food Stands  6Sun_3I_Hgvwbpet2Swvoa        5
1  Restaurants Food Trucks Food Food Stands  Ryrw1Ah71Gydamvmzdwlgq        4
2  Restaurants Food Trucks Food Food Stands  8Snwpr4Xkwjhr3I2Rcsyta        5
3  Restaurants Food Trucks Food Food Stands   5F046Ufyidpn8Nnzhuldw        5
4  Restaurants Food Trucks Food Food Stands  Xkorqm_Jrovth7Kecoxvxg        4

   useful  funny  cool                                               text
0       0      0     0  Super Great Had A Lunch Sandwich And A Sweet S...
1       0      0     0  This Was My Second Visit To The Gourmelt Truck...
2       1      0     1  I Cannot Believe There Is Actual Negative Feed...
3       0      0     0  I Call Myself A Grilled Cheese Groupie Because...
4       0      0     0  One Of The Best Finds In Town The Tomato Soup ...

In [8]:
yelp_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779396 entries, 0 to 779395
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   779396 non-null  object
 1   name          779396 non-null  object
 2   Address       779396 non-null  object
 3   city          779396 non-null  object
 4   state         779396 non-null  object
 5   postal_code   779396 non-null  float64
 6   latitude      779396 non-null  float64
 7   longitude     779396 non-null  float64
 8   stars_x       779396 non-null  float64
 9   review_count  779396 non-null  Int64
 10  categories    779396 non-null  object
 11  review_id     779396 non-null  object
 12  stars_y       779396 non-null  Int64
 13  useful        779396 non-null  Int64
 14  funny         779396 non-null  Int64
 15  cool          779396 non-null  Int64
 16  text          779396 non-null  object
dtypes: Int64(5), float64(4), object(8)
memory usage: 104.8+ MB

Se dejan los duplicados ya que pueden ser diferentes reviews para un solo restaurant

In [9]:
# Filtrar Yelp por restaurantes en la columna 'categories'
yelp_restaurants = yelp_reviews[yelp_reviews['categories'].str.contains("restaurant", case=False, na=False)]

print(yelp_restaurants.head())

             business_id      name   Address  city state  postal_code  \
0  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
1  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
2  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
3  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0
4  Opbg2Crwgxa2Dlchfvdjq  Gourmelt  Sin Dato  Reno    In          0.0

   latitude   longitude  stars_x  review_count  \
0  39.51529 -119.812013      4.0            51
1  39.51529 -119.812013      4.0            51
2  39.51529 -119.812013      4.0            51
3  39.51529 -119.812013      4.0            51
4  39.51529 -119.812013      4.0            51

                                 categories               review_id  stars_y  \
0  Restaurants Food Trucks Food Food Stands  6Sun_3I_Hgvwbpet2Swvoa        5
1  Restaurants Food Trucks Food Food Stands  Ryrw1Ah71Gydamvmzdwlgq        4
2  Restaurants Food Trucks Food Food Stands  8Snwpr4Xkwjhr3I2Rcsyta        5
3  Restaurants Food Trucks Food Food Stands   5F046Ufyidpn8Nnzhuldw        5
4  Restaurants Food Trucks Food Food Stands  Xkorqm_Jrovth7Kecoxvxg        4

   useful  funny  cool                                               text
0       0      0     0  Super Great Had A Lunch Sandwich And A Sweet S...
1       0      0     0  This Was My Second Visit To The Gourmelt Truck...
2       1      0     1  I Cannot Believe There Is Actual Negative Feed...
3       0      0     0  I Call Myself A Grilled Cheese Groupie Because...
4       0      0     0  One Of The Best Finds In Town The Tomato Soup ...

In [10]:
yelp_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 455390 entries, 0 to 779351
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   455390 non-null  object
 1   name          455390 non-null  object
 2   Address       455390 non-null  object
 3   city          455390 non-null  object
 4   state         455390 non-null  object
 5   postal_code   455390 non-null  float64
 6   latitude      455390 non-null  float64
 7   longitude     455390 non-null  float64
 8   stars_x       455390 non-null  float64
 9   review_count  455390 non-null  Int64
 10  categories    455390 non-null  object
 11  review_id     455390 non-null  object
 12  stars_y       455390 non-null  Int64
 13  useful        455390 non-null  Int64
 14  funny         455390 non-null  Int64
 15  cool          455390 non-null  Int64
 16  text          455390 non-null  object
dtypes: Int64(5), float64(4), object(8)
memory usage: 64.7+ MB

Union entre metadata y review de Google

In [11]:
# Unir metadata_google y reviews_google usando gmap_id
combined_google = pd.merge(metadata_google, reviews_google, how='inner', left_on='gmap_id', right_on='gmap_id')

print(combined_google.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2005456 entries, 0 to 2005455
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   gmap_id         object
 1   name            object
 2   address         object
 3   description     object
 4   latitude        float64
 5   longitude       float64
 6   category        object
 7   num_of_reviews  Int64
 8   name_user       object
 9   rating          Int64
 10  text            object
 11  resp            object
dtypes: Int64(2), float64(2), object(8)
memory usage: 187.4+ MB
None

In [13]:
# Filtrar metadata_google solo por restaurantes
restaurants_google = combined_google[combined_google['category'].str.contains("restaurant", case=False, na=False)]

print(restaurants_google.head())

                                    gmap_id                name   address  \
83888  0X80Ea6B76Aaba03710X10A3F302De3C591C  Buckys Hot Chicken  Sin Dato
83889  0X80Ea6B76Aaba03710X10A3F302De3C591C  Buckys Hot Chicken  Sin Dato
83890  0X80Ea6B76Aaba03710X10A3F302De3C591C  Buckys Hot Chicken  Sin Dato
83891  0X80Ea6B76Aaba03710X10A3F302De3C591C  Buckys Hot Chicken  Sin Dato
83892  0X80Ea6B76Aaba03710X10A3F302De3C591C  Buckys Hot Chicken  Sin Dato

      description   latitude   longitude    category  num_of_reviews  \
83888    Sin Dato  35.320977 -119.018687  Restaurant              26
83889    Sin Dato  35.320977 -119.018687  Restaurant              26
83890    Sin Dato  35.320977 -119.018687  Restaurant              26
83891    Sin Dato  35.320977 -119.018687  Restaurant              26
83892    Sin Dato  35.320977 -119.018687  Restaurant              26

              name_user  rating  \
83888        Still Sick       1
83889   Carlos Conrique       5
83890     Anthony James       3
83891      Rebecca Ruiz       5
83892  Monica Jaramillo       3

                                                    text      resp
83888  They Fell Off Watch Out For Angry Chicks They ...  Sin Dato
83889  I Heard Of This Place From My Brother Who Work...  Sin Dato
83890  This Place Was Ok The Chicken Strip On A Hambu...  Sin Dato
83891  Food Truck At Chevron Fastish Food But Great Q...  Sin Dato
83892                                           Its Cool  Sin Dato

In [14]:
restaurants_google.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1457250 entries, 83888 to 2005035
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   gmap_id         1457250 non-null  object
 1   name            1457250 non-null  object
 2   address         1457250 non-null  object
 3   description     1457250 non-null  object
 4   latitude        1457250 non-null  float64
 5   longitude       1457250 non-null  float64
 6   category        1457250 non-null  object
 7   num_of_reviews  1457250 non-null  Int64
 8   name_user       1457250 non-null  object
 9   rating          1457250 non-null  Int64
 10  text            1457250 non-null  object
 11  resp            1457250 non-null  object
dtypes: Int64(2), float64(2), object(8)
memory usage: 147.3+ MB

In [15]:
restaurants_google.duplicated().sum()

729383

In [17]:
print(restaurants_google.columns)
print(yelp_restaurants.columns)

Index(['gmap_id', 'name', 'address', 'description', 'latitude', 'longitude',
       'category', 'num_of_reviews', 'name_user', 'rating', 'text', 'resp'],
      dtype='object')
Index(['business_id', 'name', 'Address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars_x', 'review_count', 'categories',
       'review_id', 'stars_y', 'useful', 'funny', 'cool', 'text'],
      dtype='object')

In [19]:
restaurants_google.to_csv('google_reviews.csv', index=False)
yelp_restaurants.to_csv('yelp_reviews.csv', index=False)